.btn-wrapper {
	display: block;
	clear: both;
	width: 100%;
}

.btn-tickets {
	display: block;
	transition: .2s background-color ease-in-out;
	margin: 1em auto;
	border: 1px solid $dark-color;
	border-radius: 3px;
	background-color: $dark-color;
	padding: .5em;
	text-align: center;
	color: $bright-color;
	font-size: 1.5em;
	font-weight: 700;

	&:hover {
		background-color: transparent;
		text-decoration: none;
		color: $dark-color;
	}

	@media only screen and (min-width: $size-m) {
		width: 12em;
		font-size: 2em;
	}
}
