.tix_tickets_table {
	th {
		padding-left: 1em;
		text-align: left;
	}
}

.tix-column-description {
	padding: 2em 1em;
}

.tix-column-price,
.tix-column-remaining,
.tix-column-quantity {
	text-align: right;
}
