.tix_tickets_table {
	th {
		padding: 0 0 0 1em;
		text-align: left;
	}
}

.tix-ticket-title {
	display: block;
}

.tix-column-description {
	padding: 2em 1em;
}

.tix-column-price,
.tix-column-remaining,
.tix-column-quantity {
	text-align: right;
}

.tix-attendee-form {
	width: 100%;

	th[colspan="2"] {
		padding: 3em 0 2em;
	}

	td {
		display: block;
		clear: both;
		width: 100%;

		input:not([type="checkbox"]),
		textarea {
			width: 100%;
		}

		&.tix-left,
		&.tix-right {
			width: 100%;
		}

		&.tix-left {
			padding-bottom: .5em;
		}

		&.tix-right {
			padding-bottom: 2em;
		}
	}
}
