// Content
/* =Content
----------------------------------------------- */
.hentry {
	margin: 0 0 1.5em;

	.entry-content {
		ol,
		ul {
			margin: 0;
		}
	}
}

.entry-meta {
	clear: both;
}

.byline {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/* =Asides
----------------------------------------------- */
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}


/* =Media
----------------------------------------------- */
.site-header img,
.entry-content img,
.comment-content img,
.widget img {
	max-width: 100%;
}

.site-header img,
.entry-content img,
img[class*='align'],
img[class*='wp-image-'] {
	height: auto;
}

.site-header img,
.entry-content img,
img.size-full {
	width: auto;
	max-width: 100%;
}

.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	margin-top: 0;
	margin-bottom: 0;
	border: 0;
	padding: 0;
}

.wp-caption {
	border: 1px solid #ccc;
	max-width: 100%;

	img {
		display: block;
		margin: 1.2% auto 0;
		max-width: 98%;
	}

	.wp-caption-text {
		margin: .75em 0;
	}
}

.wp-caption.aligncenter,
.wp-caption.alignleft,
.wp-caption.alignright {
	margin-bottom: 1.5em;
}

.wp-caption-text {
	text-align: center;
}

#content {
	.gallery {
		margin-bottom: 1.5em;

		a img {
			border: 0;
			max-width: $max-width;
			height: auto;
		}

		dd {
			margin: 0;
		}
	}
}

.youtube-player {
	max-width: 100%;
}

/* =Main wrapper
----------------------------------------------- */
#main {
	margin: 3.375em auto 2.25em;
	max-width: $max-width;

	@media only screen and (min-width: $size-l) {
		max-width: $max-width-l;
	}

	&:after {
		display: table;
		clear: both;
		content: '';
	}
}

/* =Body
----------------------------------------------- */
#primary {
	padding: 0;
	box-sizing: border-box;

	@media only screen and (min-width: $size-l) {
		float: left;
		width: 70%;
	}
}

article {
	&.post,
	&.page {
		position: relative;
		margin-bottom: 5em;
		box-shadow: 0 0 12px transparentize($dark-color-1, .9);
		background-color: $white;
		padding: 2em 2em 8em;

		&::after{
			display: block;
			position: absolute;
			bottom: -1em;
			left: calc(50% - 2.5em);
			background-image: url('https://raw.githubusercontent.com//wp-portugal/wcporto2018/master/site/dist/images/logo-simple-color.svg?sanitize=true');
			background-repeat: no-repeat;
			background-size: contain;
			width: 5em;
			height: 5em;
			content: '';
		}

		@media only screen and (min-width: $size-m) {
			padding: 2.5em 3.5em 8em 3.5em;
		}
	}
}

.entry-header {
	margin-bottom: 1.5em;
}

.entry-title {
	transition: color 300ms;
	margin-bottom: .75em;
	line-height: 1.125;
	font-size: 2.5em;

	a {
		color: inherit;

		&:hover {
			color: $dark-color-1;
		}
	}

	+ .entry-meta {
		color: $dark-color-2;
		font-size: .875em;
		font-weight: 300;

		a {
			color: $bright-color-1;

			&:hover {
				color: $bright-color;
			}
		}
	}
}

.entry-content {
	blockquote {
		margin: 2.25em 1em;
		font-size: 1.75em;
	}
}

.comment-content blockquote {
	margin: 1.5em .75em;
	font-size: 1.5em;
}

.entry-content p,
.comment-content p,
.entry-content address {
	margin: 0 0 1em;
	overflow: hidden;
	line-height: 1.5;
}

.entry-content,
.comment-content {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 2.25em 0 .75em;
		line-height: 1.125;
	}

	h1 {
		font-size: 2.5em;
	}

	h2 {
		font-size: 2.25em;
	}

	h3 {
		font-size: 1.75em;
	}

	h4 {
		font-size: 1.5em;
	}

	h5 {
		font-size: 1.125em;
	}

	h6 {
		font-size: 1em;
	}

	a {
		color: $bright-color;

		&:hover {
			color: $dark-color-1;
		}
	}

	strong {
		font-weight: 700;
	}

	em {
		font-style: italic;
	}

	blockquote {
		border-top: 1px solid $bright-color;
		border-bottom: 1px solid $bright-color;
		padding: 1em 0;
		font-style: italic;

		p:last-child {
			margin-bottom: 0;
		}
	}

	ul {
		margin: 0 0 1em 2.5em;
		list-style-type: square;
	}

	ol {
		margin: 0 0 1em 2.5em;
		list-style-type: decimal;
	}

	li {
		margin-bottom: .25em;
		line-height: 1.5;
	}

	label {
		display: block;
		margin: .75em 0 .25em;
		line-height: 1.125;
		font-size: 1.125em;
		font-weight: 700;

		span {
			padding-left: .25em;
			color: $bright-color;
			font-size: .75em;
		}
	}
}

.en,
.entry-title em {
	display: block;
	margin-top: 2rem;
	margin-left: -1rem;
	border-left: 5px solid $bright-color;
	padding-left: calc(1rem - 5px);
	color: $dark-color-1;
}


/* =Organizers
----------------------------------------------- */
.wcorg-organizer {
	border-bottom: 1px solid $dark-color-3;

	&:first-child {
		border-top: 1px solid $dark-color-3;
	}

	.wcorg-organizer-description {
		&::after {
			display: table;
			clear: both;
			content: '';
		}

		p {
			margin: 0 0 1em 7.5em;
		}
	}

	.avatar {
		float: left;
		margin: 0 1em 1em 0;
	}

	.sharedaddy {
		display: none;
	}
}

/* =Sponsors
----------------------------------------------- */
.wcorg-sponsors {
	h3 {
		display: none;
	}

	.wcorg-sponsor-level-porto-edicao-especial {
		img {
			max-width: 90%;
			max-height: 3em;

			@media only screen and (min-width: $size-m) {
				max-width: 15em;
				max-height: 7em;
			}
		}
	}

	.wcorg-sponsor-level-porto-vintage {
		img {
			max-width: 80%;
			max-height: 2.5em;

			@media only screen and (min-width: $size-m) {
				max-width: 12.5em;
				max-height: 6em;
			}
		}
	}

	.wcorg-sponsor-level-porto-late-bottled-vintage {
		img {
			max-width: 70%;
			max-height: 2.25em;

			@media only screen and (min-width: $size-m) {
				max-width: 10em;
				max-height: 5em;
			}
		}
	}

	.wcorg-sponsor-level-porto-reserva,
	.wcorg-sponsor-level-media-partner {
		img {
			max-width: 60%;
			max-height: 2em;

			@media only screen and (min-width: $size-m) {
				max-width: 7.5em;
				max-height: 4em;
			}
		}
	}

	.wcorg-sponsor-level-porto-tawny,
	.wcorg-sponsor-level-after-party-partner {
		img {
			max-width: 50%;
			max-height: 1.75em;

			@media only screen and (min-width: $size-m) {
				max-width: 5em;
				max-height: 3em;
			}
		}
	}
}

.wcorg-sponsor {
	+ .wcorg-sponsor {
		margin-top: 5em;
	}
}

.wcorg-sponsor-description {
	img {
		display: block;
		margin: auto;
		padding: 1em 0 2em;
		font-size: 2.25em;
	}
}

/* =Attendees
----------------------------------------------- */
#tix-attendees {
	.tix-field {
		margin: 0 1em 0 4.5em;
	}

	ul {
		padding: 0;
	}

	li {
		margin-bottom: 2em;
		height: auto;
	}

	.tix-columns-3 {
		li {
			width: 100%;

			@media only screen and (min-width: 550px) {
				width: 50%;

				&:nth-child(2n+1) {
					clear: left;
				}
			}

			@media only screen and (min-width: 768px) {
				width: calc(100% / 3);

				&:nth-child(2n+1) {
					clear: none;
				}

				&:nth-child(3n+1) {
					clear: left;
				}
			}
		}
	}
}

/* =Media Stream
----------------------------------------------- */
#tggr-media-item-container.three-column .tggr-media-item {
	position: relative !important;
	top: 0 !important;
	left: 0 !important;
	width: calc(100% - 10px);
}

/* =Schedule
----------------------------------------------- */
.wcpt-schedule {
	width: 100%;

	tbody {
		tr {
			&:nth-of-type(odd) {
				background: #fafafa;
			}
		}

		td {
			padding: 1em;
			text-align: center;
		}
	}

	a {
		display: block;
	}
}

.wcpt-col-time {
	width: 100px;
}

.wcpt-session-speakers::before {
	content: '';
}
