// Schedule

$categories: (
	comunidade: (
		'Comunidade': #FF7FF2
	),
	open-source: (
		'Open Source': #C4B6EA
	),
	workshop: (
		'Workshop': #EC7505
	),
	desenvolvimento: (
		'Desenvolvimento': #2D4C59
	),
	performance: (
		'Performance': #1979FF
	),
	design: (
		'Design': #7C4CFF
	),
	ecommerce: (
		'Ecommerce': #3BEF3B
	),
	gutenberg: (
		'Gutenberg': #5F4D32
	),
	rgpd: (
		'RGPD': #700A0A
	),
	seguranca: (
		'Segurança': #CC1212
	),
	seo: (
		'SEO': #F7FF26
	),
	marketing: (
		'Marketing': #A89421
	),
	negocio: (
		'Negócio': #B0F70
	)
);

.wcpt-schedule {
	width: 100%;

	tbody {
		tr {
			&:nth-of-type(odd) {
				background: #fafafa;
			}
		}

		td {
			padding: 1em;
		}
	}

	a {
		display: block;
	}
}

.wcpt-col-time {
	width: 100px;
}

.wcpt-session-speakers {
	font-size: .8em;

	a {
		display: initial;
		color: $dark-color-2;
	}

	&::before {
		content: '';
	}
}

@each $class-name,$data in $categories {
	@each $content,$color in $data {
		.wcb-session-category-#{$class-name} {
			&::after {
				display: block;
				float: left;
				margin: 1em auto;
				border-radius: 2em;
				background-color: #{$color};
				padding: .5em .75em;
				color: $white;
				font-size: .75em;
				content: '#{$content}';
			}
		}
	}
}
