// Schedule

$categories: (
	comunidade: (
		'Comunidade': #ff7ff2
	),
	open-source: (
		'Open Source': #c4b6ea
	),
	workshop: (
		'Workshop': #ec7505
	),
	desenvolvimento: (
		'Desenvolvimento': #2d4c59
	),
	performance: (
		'Performance': #1979ff
	),
	design: (
		'Design': #7c4cff
	),
	ecommerce: (
		'Ecommerce': #3bef3b
	),
	gutenberg: (
		'Gutenberg': #5f4d32
	),
	rgpd: (
		'RGPD': #700a0a
	),
	seguranca: (
		'Segurança': #cc1212
	),
	seo: (
		'SEO': #f7ff26
	),
	marketing: (
		'Marketing': #a89421
	),
	negocio: (
		'Negócio': #b0f709
	)
);

.wcpt-schedule {
	width: 100%;

	tbody {
		tr {
			&:nth-of-type(odd) {
				background: #fafafa;
			}
		}

		td {
			padding: 1em;
		}
	}

	a {
		display: block;
	}
}

.wcpt-col-time {
	width: 100px;
}

.wcpt-session-speakers {
	font-size: .8em;

	a {
		display: initial;
		color: $dark-color-2;
	}

	&::before {
		content: '';
	}
}

@each $class-name,$data in $categories {
	@each $content,$color in $data {
		.wcb-session-category-#{$class-name} {
			&::after {
				display: block;
				float: left;
				margin: 1em auto;
				border-radius: 2em;
				background-color: #{$color};
				padding: .5em .75em;
				color: $white;
				font-size: .75em;
				font-weight: 700;
				content: '#{$content}';
			}
		}
	}
}
