.wcb_speaker,
.wcorg-speaker {
	border-bottom: 1px solid $dark-color;
	padding-bottom: 2em;

	h3 {
		font-size: 1.25em;
	}
}

.speakers-widget {
	display: none;

	@media only screen and (min-width: $size-l) {
		display: flex;
		flex-wrap: wrap;
		overflow: hidden;

		a {
			flex: 1 1 7%;
			transition: .2s all ease-in-out;

			&:hover {

				img {
					filter: grayscale(0);
				}
			}
		}

		img {
			transition: .2s all ease-in-out;
			width: 100%;
			max-width: none;
			filter: grayscale(95%);
		}
	}
}
