.speakers-widget {
	display: none;

	@media only screen and (min-width: $size-l) {
		display: flex;
		overflow: hidden;

		a {
			position: relative;
			flex: 1 1 300px;
			transition: .2s all ease-in-out;
			height: 300px;

			&:hover {
				width: 300px;

				img {
					position: relative;
					filter: grayscale(0);
				}

				h3 {
					bottom: 0;
				}
			}
		}

		img {
			position: absolute;
			transition: .2s all ease-in-out;
			max-width: none;
			filter: grayscale(95%);
		}

		h3 {
			position: absolute;
			bottom: -5em;
			transition: .2s all ease-in-out;
			margin: 0;
			background: $dark-color;
			padding: .5em 0;
			width: 100%;
			text-indent: 1em;
			color: $bright-color;
			font-size: .675em;
		}
	}
}
