/* =Sponsors
----------------------------------------------- */
.wcorg-sponsors {
	h3 {
		display: none;
	}

	.wcorg-sponsor-level-porto-edicao-especial {
		img {
			max-width: 90%;
			max-height: 3em;

			@media only screen and (min-width: $size-m) {
				max-width: 15em;
				max-height: 7em;
			}
		}
	}

	.wcorg-sponsor-level-porto-vintage {
		img {
			max-width: 80%;
			max-height: 2.5em;

			@media only screen and (min-width: $size-m) {
				max-width: 12.5em;
				max-height: 6em;
			}
		}
	}

	.wcorg-sponsor-level-porto-late-bottled-vintage {
		img {
			max-width: 70%;
			max-height: 2.25em;

			@media only screen and (min-width: $size-m) {
				max-width: 10em;
				max-height: 5em;
			}
		}
	}

	.wcorg-sponsor-level-porto-reserva,
	.wcorg-sponsor-level-media-partner {
		img {
			max-width: 60%;
			max-height: 2em;

			@media only screen and (min-width: $size-m) {
				max-width: 7.5em;
				max-height: 4em;
			}
		}
	}

	.wcorg-sponsor-level-porto-tawny,
	.wcorg-sponsor-level-after-party-partner {
		img {
			max-width: 50%;
			max-height: 1.75em;

			@media only screen and (min-width: $size-m) {
				max-width: 5em;
				max-height: 3em;
			}
		}
	}
}

.wcorg-sponsor {
	+ .wcorg-sponsor {
		margin-top: 5em;
	}
}

.wcorg-sponsor-description {
	img {
		display: block;
		margin: auto;
		padding: 1em 0 2em;
		font-size: 2.25em;
	}
}
