// Variables

/* =Responsive break points
----------------------------------------------- */
$size-s: 480px;
$size-m: 768px;
$size-l: 1024px;

/* =Responsive dimensions
----------------------------------------------- */
$max-width: 95%;
$max-width-l: 60em;

/* =Colors
----------------------------------------------- */
$white: #fff;
$black: #000;

$dark-color: #036;
$dark-color-1: mix($white, $dark-color, 20%);
$dark-color-2: mix($white, $dark-color, 50%);
$dark-color-3: mix($white, $dark-color, 70%);
$dark-color-4: mix($white, $dark-color, 90%);

$bright-color: #c90;
$bright-color-1: mix($white, $bright-color, 20%);
$bright-color-2: mix($white, $bright-color, 50%);
$bright-color-3: mix($white, $bright-color, 70%);
$bright-color-4: mix($white, $bright-color, 90%);


/* =Fonts
----------------------------------------------- */
$font-basic: 'Fira Sans', sans-serif;
